# Creating Database
https://www.youtube.com/watch?v=RerDL93sBdY

In [4]:
pip install PyMySQL

Collecting PyMySQL
  Using cached PyMySQL-0.10.1-py2.py3-none-any.whl (47 kB)
Installing collected packages: PyMySQL
Successfully installed PyMySQL-0.10.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pymysql

In [5]:
db = pymysql.connect('database-1.cdezsf3cj776.us-east-2.rds.amazonaws.com', 'mgysel', '205LeBron!205')

In [6]:
cursor = db.cursor()

In [7]:
cursor

In [8]:
cursor.execute("select version()")

1

In [10]:
data = cursor.fetchall()

In [11]:
data

()

## Create a table

In [13]:
# Create database gait_data
sql = '''create database gait_data'''
cursor.execute(sql)

1

In [16]:
# Use gait_data database
sql = '''use gait_data'''
cursor.execute(sql)

0

In [ ]:
# To drop database
# sql = '''drop database gait_data'''
# cursor.execute(sql)

In [19]:
# Create a table
sql = '''
create table user (
id int not null auto_increment,
ip_address text not null,
mean float,
median float,
skewness float,
standard_deviation float,
primary key (id)
)
'''
cursor.execute(sql)

0

In [21]:
# Check that table exists
sql = '''show tables'''
cursor.execute(sql)
cursor.fetchall()

(('user',),)

In [24]:
# To insert data
sql = '''
insert into user(ip_address, mean, median, skewness, standard_deviation) values('%s', '%s', '%s', '%s', '%s')
''' % ('127.0.0.1', 1.1, 1.2, 1.3, 1.4)
cursor.execute(sql)
db.commit()

In [25]:
sql = '''select * from user'''
cursor.execute(sql)
cursor.fetchall()

((1, '127.0.0.1', 1.1, 1.2, 1.3, 1.4),)